extends layout

block content
	div.card.title-card Edit Your Account
	div.card.account-card
		form(action="/account" method="POST")
			label(for="name") Name
			input(type="text" name="name" value=user.name)
			label(for="email") Email Address
			input(type="email" name="email" value=user.email)
			input.btn(type="submit" value="Update My Account")
	if data
		div.card
			p Selections:
			table.ladder
				tr
					th Race
					th Selection
					th Winnings
				each selection in data
					tr
						td !{selection.RaceNumber}
						td !{selection.Selection}
						td.right !{selection.Winnings}
