extends layout

block content
	div.card.title-card !{meeting_name}
	each race in data
		a(href=`/race/${race.RaceNumber}`)
			div.card.content-card
				div.number !{race.RaceNumber}
				div.name !{race.RaceName}
				div.time !{race.RaceStartTime}
