extends layout

include mixins/_raceNavigation

block content
	div.card.title-card
		div.number !{data.RaceNumber}
		div.name !{data.RaceName}
		div.time !{data.TimeToJump} min
	each runner in data.Runners
		- var closed = (runner.RunnerStatus == 'Scratched' ? 'closed' : '');
		- var selected = (runner.RunnerID == selection ? 'selected' : '');
		if runner.RunnerStatus != 'Scratched'
			a(href='/race/' + data.RaceID + '/' + runner.RunnerID)
				div.card.content-card(class=closed class=selected id=runner.RunnerID)
					div.number !{runner.Number}
					div.name !{runner.Name}
					if runner.RunnerStatus == 'Scratched'
						div.time Scratched
					else
						div.time !{runner.ProjectedWin}
		else
			div.card.content-card(class=closed class=selected id=runner.RunnerID)
				div.number !{runner.Number}
				div.name !{runner.Name}
				if runner.RunnerStatus == 'Scratched'
					div.time Scratched
				else
					div.time !{runner.ProjectedWin}
	+raceNavigation(data.PreviousRace, data.NextRace)
